<!doctype html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon.png" %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon.png" %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Craftec</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href={%static "css/bootstrap.min.css" %} rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href={%static "css/paper-dashboard.css" %} rel="stylesheet"/>

    <link href="{% static "css/demo.css" %}" rel="stylesheet" />
    <link rel="stylesheet"
        href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {% block static_head %}
    {% endblock %}

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css/themify-icons.css" %}" rel="stylesheet">

</head>
<body>

    {% block modals %}
    {% endblock %}

    <div class="wrapper">
        <div class="sidebar" data-background-color="black" data-active-color="danger">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="{% url "dashboard:index" %}" class="simple-text">
                        <img src="{% static "img/logo_craftec.png" %}" alt="Craftec"
                        height="35">
                    </a>
                </div>

                <ul class="nav">
                    {% if dashboard_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url "dashboard:index" %}">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    {% if clients_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url "clients:index" %}">
                            <i class="ti-user"></i>
                            <p>Atendimento</p>
                        </a>
                    </li>
                    {% if tickets_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url "tickets:index" %}">
                            <i class="ti-view-list-alt"></i>
                            <p>Tickets</p>
                        </a>
                    </li>
                    {% if budget_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url "clients:budget" %}">
                            <i class="ti-receipt"></i>
                            <p>Orçamentos</p>
                        </a>
                    </li>
                    {% if cashflow_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url "cashflow:index" %}">
                            <i class="ti-wallet"></i>
                            <p>Controle de Caixa</p>
                        </a>
                    </li>
                    {% if stock_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url "stock:index" %}">
                            <i class="ti-map"></i>
                            <p>Controle de estoque</p>
                        </a>
                    </li>
                    {% if notifications_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url "dashboard:notifications" %}">
                            <i class="ti-bell"></i>
                            <p>Notificações</p>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    {% block brand %}
                    {% endblock %}
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url "tickets:edit_ticket" %}">
                                <i class="ti-notepad"></i>
                                <p>Novo Ticket</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">{{ notify_count }}</p>
                                    <p>Notificações</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                  {% for notify in notifications %}
                                      <li><a href="#">
                                              {% if notify.request %}
                                                  Nova {{ notify.request.get_cname }}:
                                              {% else %}
                                                  Novo {{ notify.get_cname }}:
                                              {% endif %}
                                              {{ notify }}
                                      </a></li>
                                  {% endfor %}
                              </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-settings"></i>
                                <p>{{ user }}</p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Editar info</a></li>
                              <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="{% url "dashboard:index" %}">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="http://craftec3d.com.br">
                               Craftec
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new
                        Date().getFullYear())</script>, developed by <a
                    href="https://github.com/madc0ww">Adriano 'madc0ww' Mourão</a>
                </div>
            </div>
         </footer>
    </div>
</body>

<!--   Core JS Files   -->
<script src="{% static "js/jquery-3.3.1.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery-ui.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static "js/bootstrap-checkbox-radio.js" %}"></script>

<!--  Charts Plugin -->
<script src="{% static "js/chartist.min.js" %}"></script>

<!--  Notifications Plugin    -->
<script src={%static "js/bootstrap-notify.js" %}></script>

<!-- Paper Dashboard Core javascript and methods -->
<script src="{% static "js/paper-dashboard.js" %}"></script>
<script src="{% static "js/demo.js" %}"></script>

{% block scripts %}
{% endblock %}

</html>
