{% extends 'base.html' %}
{% load static %}

{% block brand %}
<a class="navbar-brand" href="{% url "dashboard:index" %}">Dashboard</a>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Requisições</p>
                                    {{ requirements }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizado
                                agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Caixa</p>
                                    R${{ revenue }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Último mês
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Inadimplentes</p>
                                    {{ orders_npaid }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizado
                                agora
                                <!--
                                <i class="ti-timer"></i> Último mês
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-receipt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Orçamentos</p>
                                    +{{ budgets_count }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizado
                                agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Evolução das requisições</h4>
                        <p class="category">Proporção de requisições
                        concluídas</p>
                    </div>
                    <div class="content">
                        <div id="chartHours" class="ct-chart"></div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i>
                                Requisições
                                <i class="fa fa-circle text-warning"></i>
                                Orçamentos concluídos
                                <i class="fa fa-circle text-danger"></i>
                                Ordem de compra efetuadas
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i> Última requisição
                                feita 1 semana atrás
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Impressões 3D</h4>
                        <p class="category">Impressões 3D deste mês</p>
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i>
                                Entregues
                                <i class="fa fa-circle text-warning"></i> Em
                                andamento
                                <i class="fa fa-circle text-danger"></i>
                                Em espera
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i> Última impressão
                                iniciada 1 dia atrás
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Caixa</h4>
                        <p class="category">Gastos e despesas</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i>
                                Entrada de caixa
                                <i class="fa fa-circle text-warning"></i>
                                Gastos
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i> Último
                                entrada/saída de caixa 3 dias atrás
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/demo.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function(){

        demo.initChartist();

        $.notify({
            icon: 'ti-gift',
            message: "Seja bem vindo, {{ user }}!! Você tem {{ notify_count }} notificações. Mais detalhes no menu atividades."
        },{
            type: 'success',
            timer: 4000
        });

    });
</script>
{% endblock %}
