{% extends 'base.html' %}
{% load static %}

{% block brand %}
<a class="navbar-brand" href="{% url "dashboard:notifications" %}">Notificações</a>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Novos Tickets</h5>
                            {% for notify in notifications %}
                                {% if not notify.request %}
                            <div class="alert alert-success alert-with-icon"
                                data-notify="container">
                                <span data-notify="icon" class="ti-notepad"></span>
                                <span data-notify="message">
                                    <a href="{% url "tickets:ticket" notify.id %}">
                                        <h6>{{ notify }}:</h6>
                                        {{ notify.description }}</span>
                                    </a>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <h5>Novas Requisições</h5>
                            {% for notify in notifications %}
                                {% if notify.request %}
                                    {% if notify.request.req_type == 'BG' %}
                            <div class="alert alert-warning alert-with-icon"
                                data-notify="container">
                                <span data-notify="icon" class="ti-pencil-alt"></span>
                                    {% else %}
                            <div class="alert alert-danger alert-with-icon"
                                data-notify="container">
                                <span data-notify="icon" class="ti-receipt"></span>
                                    {% endif %}
                                <span data-notify="message">
                                    <h6>{{ notify }}:</h6>
                                    {{ notify.description }}</span>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
