<!doctype html>
<html lang="en">
<head>
    {% load static %}
	<!-- Google Sources -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link href={% static "css/login.css" %} rel="stylesheet" />
    <link href={% static "css/animate.css" %} rel="stylesheet" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <span id="logo">
                <img id="title" src="{% static "img/logo_craftec.png" %}" alt="Craftec"
                   height="100">
            </span>
        </div>
		<div class="login-box animated fadeInUp">
            <div class="box-header">
                <h2>Login</h2>
            </div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <br/>
                        {{field }}
                        <br/>
                    </div>
                {% endfor %}
                <button type="submit">Sign In</button>
                <br/>
                <a href="#"><p class="small">Esqueceu a sua senha?</p></a>
            </form>
        </div>
    </div>
</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>

</html>
