{% extends 'base.html' %}
{% load static %}

{% block brand %}
<a class="navbar-brand" href="{% url "tickets:index" %}">Tickets</a>
{% endblock %}

{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Em andamento</h4>
                                <p class="category"><a href="#">Procurar Ticket</a></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Título</th>
                                    	<th>Cliente</th>
                                    	<th>Deadline</th>
                                    	<th>Responsável</th>
                                    </thead>
                                    <tbody>
                                        {% for ticket in doing_tickets %}
                                            <tr>
                                                <td class="text-warning">
                                                    <a href="{% url "tickets:ticket" ticket.pk%}"
                                                        class="text-warning">
                                                        T{{ ticket.pk }}
                                                    </a>
                                                </td>
                                                <td class="text-warning">
                                                    <a href="{% url "tickets:ticket" ticket.pk%}"
                                                        class="text-warning">
                                                        {{ ticket.title }}
                                                    </a>
                                                </td>
                                                <td class="text-warning">{{ ticket.client }}</td>
                                                <td class="text-warning">{{ ticket.deadline }}</td>
                                                <td class="text-warning">{{ ticket.assignee }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Backlog</h4>
                                <p class="category"><a href="#">Procurar Ticket</a></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Título</th>
                                    	<th>Cliente</th>
                                    	<th>Deadline</th>
                                    	<th>Responsável</th>
                                    </thead>
                                    <tbody>
                                        {% for ticket in open_tickets %}
                                            <tr>
                                                <td class="text-success">
                                                    <a href="{% url "tickets:ticket" ticket.pk%}"
                                                        class="text-success">
                                                        T{{ ticket.pk }}
                                                    </a>
                                                </td>
                                                <td class="text-success">
                                                    <a href="{% url "tickets:ticket" ticket.pk%}"
                                                        class="text-success">
                                                        {{ ticket.title }}
                                                    </a>
                                                </td>
                                                <td class="text-success">{{ ticket.client }}</td>
                                                <td class="text-success">{{ ticket.deadline }}</td>
                                                <td class="text-success">{{ ticket.assignee }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
{% endblock %}
