{% extends 'base.html' %}
{% load static %}

{% block brand %}
<a class="navbar-brand" href="{% url "tickets:index" %}">Tickets</a>
{% endblock %}

{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                        {% if is_new_ticket %}
                            Novo Ticket
                        {% else %}
                            Editando {{ ticket_name }}
                        {% endif %}
                        </h4>
                    </div>
                    <div class="content">
                        <form action="saveticket/{{ ticket_id }}" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.title.errors }}
                                        {{ form.title.label_tag }}
                                        {{ form.title }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.assignee.errors }}
                                        {{ form.assignee.label_tag }}
                                        {{ form.assignee }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.related_client.errors }}
                                        {{ form.related_client.label_tag }}
                                        {{ form.related_client }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        {{ form.deadline.errors }}
                                        {{ form.deadline.label_tag }}
                                        {{ form.deadline }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form.description.errors }}
                                        {{ form.description.label_tag }}
                                        {{ form.description }}
                                        * Utilize markdown para editar seu texto
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info
                                    btn-fill btn-wd" value="Submit" >
                                    {% if is_new_ticket %}
                                        Criar ticket
                                    {% else %}
                                        Salvar ticket
                                    {% endif %}
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
{% endblock %}
