{% extends 'base.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block brand %}
<a class="navbar-brand" href="{% url "tickets:index" %}">Tickets</a>
{% endblock %}

{% block modals %}
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar Comentário</h4>
                </div>
                <div class="modal-body">
                    <form action="savecomment/" method="post">
                        {% csrf_token %}
                        {{ form.text }}
                        * Utilize markdown para editar seu texto
                        <br/>
                        <br/>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info
                                btn-fill btn-wd" value="Submit" >
                                    Enviar Comentário
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3 class=title><span class="text-info">
                                            T{{ ticket.pk }} - {{ ticket.title }}
                                        </span>
                                        </h3>
                                        <p class="category">
                                            {% if ticket.closed%}
                                                <a  href="#"
                                                    id="trClosed"
                                                    class="text-danger"
                                                    >
                                                    Fechado
                                                </a>
                                            {% else %}
                                                <a  href="#"
                                                    id="trOpen"
                                                    class="text-success"
                                                    >
                                                    Aberto
                                                </a>
                                            {% endif %}
                                         - Criado por {{ ticket.added_by }} em {{ ticket.add_date }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="text-right">
                                            <a  href=
                                            "{% url "tickets:edit_ticket" ticket.pk %}"
                                                id="trEdit"
                                                >
                                                Editar ticket
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="typo-line">
                                            <h5><span class="category">
                                                    <span
                                                        class="text-info">Responsável</span>
                                                </span>
                                                {{ticket.assignee}}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="typo-line">
                                            <h5><span class="category">
                                                    <span
                                                        class="text-info">Deadline</span>
                                                </span>
                                                {{ticket.deadline}}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="typo-line">
                                            <h5><span class="category">
                                                    <span
                                                        class="text-info">Estado</span>
                                                </span>
                                                {% if ticket.doing %}
                                                    <a href="#"
                                                        id="trDoing"
                                                        class="text-warning">
                                                        Em andamento
                                                    </a>
                                                {% else %}
                                                    <a href="#"
                                                        id="trBacklog"
                                                        class="text-success">
                                                        Backlog
                                                    </a>
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <div class="col-md-3">
                                        {% if ticket.client %}
                                            <div class="typo-line">
                                                <h5><span class="category">
                                                        <span class="text-info">Cliente</span>
                                                    </span>
                                                    {{ticket.client}}
                                                </h5>
                                            </div>
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="typo-line">
                                            <h5><span class="category">
                                                    <span class="text-info">Descrição</span>
                                                </span>
                                                {{ ticket.description|markdown }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <div class="row">
                                    <div class="col-md-10", id="ticketLog">
                                        {% if log %}
                                            <p>{{ log }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <div class="text-right">
                                            {% if ticket.done %}
                                                <a href="#"
                                                    id="trUndo"
                                                    class="text-success">
                                                    Tarefa Feita
                                                </a>
                                            {% else %}
                                                <a  href="#"
                                                    id="trDone"
                                                    >
                                                    Marcar como feito
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if comments %}
                {% for comm in comments %}
                    <div class="row" id="comm-{{ comm.pk }}">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            {% if user == comm.added_by %}
                                                <div class="col-md-2">
                                                    <button type="button"
                                                        id="close-{{ comm.pk }}"
                                                        class="close">&times;</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="typo-line">
                                                    <h5><span class="category">
                                                        <span class="text-info">
                                                            {{ comm.added_by }}
                                                        </span>
                                                    </span></h5>
                                                    {{ comm.text|markdown }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-right
                                                text-info">
                                                {{ comm.add_date }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="text-center">
                <button type="button" class="btn btn-info btn-fill btn-wd"
                                      data-toggle="modal"
                                      data-target="#myModal">
                    Adicionar Comentário
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/responsive.js" %}"></script>
    <script>
        $(document).on('click', "[id^=tr]", function() {
            elem = $(this).attr("id");
            changeTicketStatus(
                '#'+elem,
                changeActions[elem].action,
                "{% url "tickets:ticket_ajax" ticket.pk %}",
                {{ ticket.pk }},
                changeActions[elem].newelem
            );
        });

        $("[id^=close-]").on('click', function() {
            elem = $(this).attr("id");
            removeComment(
                elem,
                "{% url "tickets:delete_comment" ticket.pk %}"
            );
        });
    </script>
{% endblock %}
